html
    title My index Page
    link(rel="stylesheet", href="/css/mystyle.css",type="text/css")
    script(src="/scripts/myscript.js")
    body
        div
            h1 Ocean's Eleven-updated
            ul
                li Comedy
                li Thriller
            p.
                Danny Ocean and his eleven accomplices plan to rob
                three Las Vegas casinos simultaneously.
            img(src="/images/bmw.jpg", width="150px",height="150px")
            ul
                - for (var i=1; i<=5; i++) {
                li Hello #{i}
                - }
            p.redText This is a red Line
            input(type="button",onclick="Hi()",value="Click Here")